.rbc-calendar {
  background-color: white;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  color: #444444 !important;
}

.rbc-toolbar {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
}

.rbc-btn-group{
  padding: .3rem;
  border-radius: 8px;
  background-color: #EBEBEB;
  display: flex;
  gap: .5rem;
}
.rbc-btn-group button {
  border-radius: 10px !important;
  background-color: white;
  border: none;
  font-weight: 500;
}
.rbc-active{
  box-shadow: none !important;
  background-color: #d0d0d0 !important; /* blue-500 */
  font-weight: 700 !important;
}

.rbc-event {
  background-color: #3b82f6 !important; /* blue-500 */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px 6px;
  font-size: 0.85rem;
}

.rbc-time-view {
  border-radius: 8px;
  overflow: hidden;
}
